.controls {
    transition: opacity 150ms ease;
    opacity: 0;
}

.control {
    &[data-inactive] {
        opacity: 0;
        cursor: default;
    }
}

.root {
    &:hover {
        .controls {
            opacity: 1;
        }
    }
}

.indicator {
    width: 12px;
    height: 4px;
    transition: width 250ms ease;

    &[data-active] {
        width: 40px;
    }
}